@model AddCommentViewModel
@{
    ViewBag.Title = "EditComment";
}

@section scripts{
    <script src="~/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/vendor/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#exampleFormControlTextarea2'
            });
        });
    </script>

}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Edit Comment</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <form method="post" enctype="multipart/form-data" }>
        <div class="form-group">
            @Html.LabelFor(comment => comment.Body, "Comment")
            @Html.TextBoxFor(comment => comment.Body, new { @class = "form-control", placeholder = "Enter comment here" })
        </div>

        <button type="submit" class="btn btn-primary mb-2" value="Save">Submit</button>

    </form>
</div>



